*{
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

header{
    text-align: center;
    background-color:cornflowerblue;
    margin-top: 1em;
    padding: 1em;
    color: darkslategray;
}

ul li{
    display: inline-block;
}

body{
    line-height: 2em;
    background-color: blanchedalmond;
    color:darkslategray;
}

main{
    margin: 1em;
}

footer{
    margin: 1em;
}